// theme 1 colors
$color-energy: #FFCC44;
$color-error: #E15554;
$color-success: #64FF64;
$color-primary: #0066FF;
$color-secondary: #7768AE;
$color-dark: #202530;
$color-light: #dfedfe;
// theme 1 dim colors
$color-energy-dim: #FFCC4477;
$color-error-dim: #E1555477;
$color-success-dim: #64FF6477;
$color-primary-dim: #0066FF77;
$color-secondary-dim: #7768AE77;
$color-dark-dim: #20253077;
$color-light-dim: #dfedfe77;
