.header {
  width: 100%;
  height: 60vh;
  border: 2px solid black;
  padding: 2rem;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &_display {
    width: 280px;
    height: 280px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      box-shadow: 0 0 5px var(--theme1-color-primary);
      border-color: var(--theme1-color-primary);
    }
    &:active {
      opacity: 0.5;
      box-shadow: none;
    }

    &_img {
      width: 100%;
      height: 100%;
    }
  }
}